<div class="container-fluid">
  <div class="path col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Blog</li>
    </ol>
  </div>
  <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-3 col-lg-2 col-md-2 col-sm-2 col-xs-3 side-nav">
    <div class="list-group">
      <div class="list-group-item">
      <img alt="Blogicon" src="/assets/blogIcon.jpg" class="img-circle center-block">
        <h4 class="text-center">blankmanp</h4>
      </div>
      <% @types.each do |type| %>
      <a href="#" class="list-group-item"><%= type.name %><span class="badge"><%= type.num %></span></a>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
  <% unless @blogs.blank? %>
     <% @blogs.each do |blog| %>
        <div class="content-paper" id="blog_<%= blog.id %>">
          <div class="page-header" id="blog_<%= blog.id %>_title">
            <h1><%= blog.title %> <small><%= blog.subtitle %></small></h1>
          </div>
              <div class="page-content" id="blog_<%= blog.id %>_content">
                <%= blog.content %>
              </div>
        </div>
     <% end %>
  <% end %>
  </div>
</div> 